
.input {
  min-height: 35px;
  margin: 30px 0px 20px ;
  
}

.input:hover {
  border-color: #174D7C;
}

.input:focus {
  border-color: #174D7C;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #174D7C;
  box-shadow: 0 0 0 1px #174D7C;
}