.modal-box .ant-modal-content {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.modal-box .ant-modal-body {
  display: flex;
  justify-content: center;
  padding: 0;
}

.modal-box .ant-card-body {
  padding: 0;
}

.modal-box .ant-card-bordered {
  border: 0;
}

.modal-box .ant-card {
  pointer-events: none;
}
